{% extends 'base.html' %}

{% block title %}
SGE - Home
{% endblock %}

{% block content %}
<h1 class="md-6">Minha tela de Dashboards</h1>
{% include 'components/_product_metrics.html' %}
{% include 'components/_sales_metrics.html' %}

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="row mt-4 justify-content-center">
   <div class="col-md-6 text-center">
      <h5 class="text-center mb-3">Valor de Vendas (Ultimos 7 dias)</h5>
      <canvas id="dailySalesChart"></canvas> <!-- onde vai ficar o grafico -->
   </div>
   <div class="col-md-6 text-center">
      <h5 class="text-center mb-3">Quantidade de Vendas diarias</h5>
      <canvas id="dailySalesQuantityChart"></canvas> <!-- onde vai ficar o grafico -->
   </div>

      <script>
        document.addEventListener("DOMContentLoaded", function() {  // função utilizada para manipular o DOM do java script para renderizar o grafico
          var dailySalesData = JSON.parse('{{ daily_sales_data|safe }}');  // dados do primeiro grafico
          var dailySalesQuantityData = JSON.parse('{{ daily_sales_quantity_data|safe }}');  // dados do segundo grafico
          // essas variaveis vao estão recebendo dados da view e vão fazer um `parse` 

          var ctxDailySales = document.getElementById('dailySalesChart').getContext('2d');
          // pega os dados do elemento `canva`
          // e nessa variavel abaixo manda renderizar o grafico
          var dailySalesChart = new Chart(ctxDailySales, {  // esse `new Chart` é o que esta sendo importado mais acima
            type: 'line',
            data: {
              labels: dailySalesData.dates,
              datasets: [{
                label: 'Valor em vendas',
                data: dailySalesData.values,
                fill: false,
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 2,
                tension: 0.5
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
          
    
          var ctxDailySalesQuantity = document.getElementById('dailySalesQuantityChart').getContext('2d');
          var dailySalesQuantityChart = new Chart(ctxDailySalesQuantity, {
            type: 'bar',
            data: {
              labels: dailySalesQuantityData.dates,
              datasets: [{
                label: 'Quantidade de Vendas',
                data: dailySalesQuantityData.values,
                backgroundColor: 'rgba(255, 99, 132, 0.6)',
                borderColor: 'rgba(255, 99, 132, 1)',
                borderWidth: 1
              }]
            },
            options: {
              scales: {
                y: {
                  beginAtZero: true
                }
              }
            }
          });
        });
      </script>

</div>

{% endblock %}